body {
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
    background: cadetblue;
}

*, *:before, *:after {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Intro*/

.intro {
    height: 100vh;
    width: 100%;
    background: rgba(255, 0, 0, 0.51);
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.intro__title {
    font-size: 150px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    transition: color .1s linear;
    position: relative;
}


.nav__link:after {
    opacity: 1;
    content: "";
    display: none;
    width: 100%;
    height: 3px;
    background-color: #ffe059;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #ffe059;
    text-decoration: none;
}

.nav__link:hover:after {
    display: block;
}
